In [66]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [67]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-04-30 17:10:29,-9.8000,-139.0333,78.58,76,39,13.13
1,1,Porto Belo,BR,2022-04-30 17:11:02,-27.1578,-48.5531,71.26,68,100,2.30
2,2,Upernavik,GL,2022-04-30 17:11:03,72.7868,-56.1549,19.69,89,100,9.86
3,3,Port Elizabeth,ZA,2022-04-30 17:11:04,-33.9180,25.5701,62.10,80,0,5.99
4,4,Tottori,JP,2022-04-30 17:11:05,35.5000,134.2333,51.98,77,100,2.82

In [68]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [69]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [70]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [71]:
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
    
# Assign the figure variable
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [72]:
# Adjust Heatmap Zoom, Intensity, and Point Radius

# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
    
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [74]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [75]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [77]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-04-30 17:10:29,-9.8000,-139.0333,78.58,76,39,13.13
7,7,Hobyo,SO,2022-04-30 17:11:07,5.3505,48.5268,85.05,70,73,13.53
8,8,Sulangan,PH,2022-04-30 17:11:08,11.1373,123.7228,82.29,77,96,9.75
11,11,Bubaque,GW,2022-04-30 17:11:10,11.2833,-15.8333,78.58,67,33,13.51
12,12,Butaritari,KI,2022-04-30 17:11:10,3.0707,172.7902,80.51,82,94,12.50
13,13,Avarua,CK,2022-04-30 17:11:11,-21.2078,-159.7750,77.05,88,20,5.75
14,14,Riyadh,SA,2022-04-30 17:11:08,24.6877,46.7219,86.14,18,0,11.07
18,18,Malajog,PH,2022-04-30 17:11:14,12.1106,124.4792,77.20,92,100,5.86
19,19,Isangel,VU,2022-04-30 17:11:15,-19.5500,169.2667,77.61,89,100,12.82
33,33,Hithadhoo,MV,2022-04-30 17:11:25,-0.6000,73.0833,85.59,67,74,15.23

In [78]:
# Check for null values
preferred_cities_df.count()

City_ID       188
City          188
Country       187
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [79]:
# Don't add the hotel information to the preferred_cities_df DataFrame because 
# this DataFrame is our filtered DataFrame, 
# and the customer will always filter it for each trip. 

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0       Atuona      PF     78.58  -9.8000 -139.0333
7        Hobyo      SO     85.05   5.3505   48.5268
8     Sulangan      PH     82.29  11.1373  123.7228
11     Bubaque      GW     78.58  11.2833  -15.8333
12  Butaritari      KI     80.51   3.0707  172.7902
13      Avarua      CK     77.05 -21.2078 -159.7750
14      Riyadh      SA     86.14  24.6877   46.7219
18     Malajog      PH     77.20  12.1106  124.4792
19     Isangel      VU     77.61 -19.5500  169.2667
33   Hithadhoo      MV     85.59  -0.6000   73.0833

In [80]:
hotel_df

                      City Country  Max Temp      Lat       Lng Hotel Name
0                   Atuona      PF     78.58  -9.8000 -139.0333
7                    Hobyo      SO     85.05   5.3505   48.5268
8                 Sulangan      PH     82.29  11.1373  123.7228
11                 Bubaque      GW     78.58  11.2833  -15.8333
12              Butaritari      KI     80.51   3.0707  172.7902
..                     ...     ...       ...      ...       ...        ...
561  Altagracia De Orituco      VE     81.00   9.8601  -66.3814
564              Nhulunbuy      AU     81.21 -12.2333  136.7667
571                 Davila      PH     82.67  18.4726  120.5763
578                  Sumbe      AO     78.17 -11.2061   13.8437
580                 Owando      CG     79.63  -0.4819   15.8999

[188 rows x 6 columns]

In [81]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [82]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grad the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [83]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,78.58,-9.8000,-139.0333,Villa Enata
7,Hobyo,SO,85.05,5.3505,48.5268,Iftin hotel hobyo
8,Sulangan,PH,82.29,11.1373,123.7228,Maia's Beach Resort
11,Bubaque,GW,78.58,11.2833,-15.8333,"Casa Dora, Bubaque"
12,Butaritari,KI,80.51,3.0707,172.7902,Isles Sunset Lodge
13,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
14,Riyadh,SA,86.14,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
18,Malajog,PH,77.20,12.1106,124.4792,Vacation Condotel for Couples or Family near A...
19,Isangel,VU,77.61,-19.5500,169.2667,Tanna Lodge
33,Hithadhoo,MV,85.59,-0.6000,73.0833,Scoop Guest House

Figure(layout=FigureLayout(height='420px'))

In [91]:
# Description definition 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [92]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))